body{
	background-color:#000;
	color:#999;
	padding:0;
	margin:0;
}
img{
	width:100%;
}
a{
	text-decoration: none;
	color:#fff;

}
ul{
	list-style-type: none;
}
.showcase{
	position:relative;
	color:#fff;
	width:100%;
	height:93vh;
	background-image:url("https://i.ibb.co/vXqDmnh/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
}
.showcase::after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background:rgba(0,0,0,0.6);
	box-shadow:inset 120px 100px 250px #000, inset -120px -100px 250px #000;

}

.showcase-top{
	position:relative;
	height:90px;
	z-index:2;
}
.showcase-top img{
	position:absolute;
	width:38vh;
	top:50%;
	left:50%;
	transform :translate(-50%, -50%);
}
.showcase-top a{
	position:absolute;
	right:0;
	top:50%;
	transform:translate(-50%,-50%);
	margin-right:10px;
	border-radius:8px;

}
.btn{
	background-color:#FF0000;
	padding:10px 20px;
	border-radius:2px;
	text-align: center
	text-transform:uppercase;
	cursor:pointer;


}
.btn:hover{
	opacity:0.9;
}
.showcase-content{
	display:flex;
	flex-direction:column;
	position:relative;
	margin:auto;
	width:65%;
	justify-content: center;
	align-items: center;
	margin-top:3rem;
	z-index:2;
}
.showcase-content h1{
	font-size: 7rem;
	line-height: 1.1;
}
.showcase-content p{
	font-size:2rem;
	text-transform: uppercase;
	margin-top:-30px;
}
.showcase-content a{
	padding:1.5rem 4rem;
	font-weight: 1rem;
	text-transform: uppercase;
	word-spacing:5px;
	font-size:1.5rem;
}
.tabs{
	background:#141414;
	border-bottom:3px solid #3d3d3d;
	padding-top:2rem;
	border-right:none;

}
.tabs .container{
	width:70%;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	justify-content: center;
	text-align:center;
	cursor:pointer;

}
.container{
	font-size: 1.3rem;
}
.tabs .container >div:hover{
	color:#fff;
}

.tab-border{
	border-bottom:4px solid #FF0000;
}
.mistake{
	width:70%;
	margin:auto;
}
.tab-content-1{
	display:grid;
	grid-template-columns: repeat(2,50%);
	justify-content:center;
	align-items: center;

}
.tab-content-item p{
	color:#fff;
	font-size:2.1rem;

}
.btn-xl{
	font-weight: 1rem;
	text-transform: uppercase;
	word-spacing: 4px;
	padding:1rem 1.5rem;
	font-size:1rem;
}

.content-2{

	color:#fff;
	display:grid;
	grid-template-columns:1.5fr 0.6fr;
	grid-gap:1rem;
	text-align: center;
	align-items:center;
	justify-content: center;
}
.content-2 p{
	font-size:2rem;
}
.content3{
	display:grid;
	grid-template-columns: repeat(3,34%);
	text-align: center;
	justify-content: center;
	align-items: center;

}
.content3 h2{
	color:#fff;
}
.a{
	display:flex;
	flex-direction: column;
	text-align:center;
	justify-content: center;
	align-items: center;

}
.a p{
	color:#fff;
	font-size:2rem;
}
.a a{
	margin-top:-20px;
}

.table{
	margin-top:2.4rem;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
}
.table thead th{
	transform: uppercase;
	padding:0.8rem;
	color:#fff;
}
.table tbody{
	display:table-row-group;
	vertical-align: middle;
	border-color:inherit;
}

.table tbody tr td{
	color:#999;
	padding:0.8rem 1.2rem;
	text-align:center;
}

.table tbody tr td:first-child{
	text-align:left;
}
.table tbody tr:nth-child(odd){
	background:#222;
}
.footer{
	margin-top: 5rem;
}
.footer-item {
	margin-left:-40px;
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:2rem;
}
.footer li{
	line-height: 1.9;
}

#tab-1-content,
#tab-2-content,
#tab-3-content{
	display:none;
}
.show{
	display:block !important;
	opacity: 1 !important;
}

@media (max-width: 960px) {

		.showcase {
		height: 70vh;
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}
